@import '../../../styles/theme';

:host {
  display: block;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}


.dashboard-card-content {
  text-align: left;
  color: mat-color($nga-foreground, secondary-text);
  font-size: mat-font-size($nga-typography, subheading-2);
  font-weight: mat-font-weight($nga-typography, subheading-2);
  line-height: mat-line-height($nga-typography, subheading-1);
  border-bottom: solid 1px #ddd;
  padding-bottom: 24px;
}


.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}