<div class="grid-container">
  <h1 class="mat-h1"></h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Log In         
           </mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginFormModel"
        (ngSubmit)="onSubmit()"
        class="example-form">
         <mat-form-field class="example-full-width">
           <input matInput formControlName="username" value="username">
         </mat-form-field>


          <mat-form-field class="example-full-width">
            <input matInput formControlName="email" value="email">
          </mat-form-field>
         

          <mat-form-field class="example-full-width" formGroupName="passwordsGroup">
            <input matInput formControlName="password" value="password">
          </mat-form-field>

          <mat-form-field class="example-full-width" formGroupName="passwordsGroup">
            <input matInput formControlName="pconfirm" value="confirm password">
          </mat-form-field>
        </form>
        <div class='example-button-row'>
          <button mat-button type="submit">Go!</button>
        </div>


        <mat-card-content class="dashboard-card-content">
          <div></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>