<div class="grid-container">
  <h1 class="mat-h1">People Details</h1>
   <mat-grid-list cols="1" rowHeight="350px">
    <mat-card class="card">
       <div fxFlex="50%">
          <img class="thumbnail"
         [attr.alt]="person.name"
         [attr.src]="person.imageUrl">
        </div>

  <div fxFlex="50%">
     <div class="info">
      <h1 class="info__name">{{person?.name}}</h1>
      <div class="info__role">Role: {{person?.role}}</div>
      <h3 class="info__about">About: {{person?.about}}</h3>
      </div>
      
    </div>
  </mat-card>
  </mat-grid-list>
  </div>


