@import '../../../styles/theme';

:host {
  display: block;
}

.tile {
  background-color: mat-color($nga-background, card);

  &:hover {
    @include mat-elevation(4);
    transition: .3s;
  }
}

.card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.grid-container {
  margin: 20px;
}

.info__name {
  color: mat-color($nga-foreground, text);
  font-size: mat-font-size($nga-typography, display-2);
  font-weight: mat-font-weight($nga-typography, display-4);
  line-height: mat-line-height($nga-typography, display-2);
  margin: 0 0 24px;
}